<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>
    <button mat-mini-fab (click)="sidenav?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </span>
    <span class="title">
      {{ title }}
    </span>
  </span>
  <span class="spacer"></span>
  <button class="login" mat-mini-fab routerLink="auth">

    <ng-container *ngIf="auth.isLogged$ | async; else notLogged">
      <mat-icon>person</mat-icon>
    </ng-container>
    <ng-template #notLogged>
      <mat-icon>login</mat-icon>
    </ng-template>


  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <!-- Sidenav Menu -->
    <sdi-menu [links]="links"></sdi-menu>
    <hr>
    <sdi-menu [links]="extraLinks"></sdi-menu>
  </mat-sidenav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
