/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 350px;
  margin: 0;
  padding: 0;
}

.app-container {
  display: block;
  height: 100%;
  width: 100%;
}
