// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular13-fundamentals-workshop-primary: mat.define-palette(
  mat.$indigo-palette
);
$angular13-fundamentals-workshop-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$angular13-fundamentals-workshop-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular13-fundamentals-workshop-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular13-fundamentals-workshop-primary,
      accent: $angular13-fundamentals-workshop-accent,
      warn: $angular13-fundamentals-workshop-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular13-fundamentals-workshop-theme);

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  display: flex;
}

p {
  margin: 16px;
}

.icon-20 {
  font-size: 20px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 10px;
  flex-wrap: wrap;
}

.container [class*="col"] {
  padding: 10px;
  flex: 1;
}

.mat-card-header-text {
  margin-left: 0;
  border-bottom: 1px solid #ffd740;
}

.header {
  padding-bottom: 10px;
  color: #673ab7;
  border-bottom: 2px solid #673ab7;
}

sdi-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-list-item:hover {
  cursor: pointer;
  background: whitesmoke;
}

mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

mat-card:not(.dashboard-card) {
  margin-bottom: 20px;
}

// UI TOOLBAR
mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 900;

  > .mat-mini-fab {
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .title {
    vertical-align: middle;
  }

  .logo {
    margin-left: 20px;

    img {
      vertical-align: middle;
      width: 100px;
      height: auto;
    }
  }
}

mat-sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  width: 200px;
  padding-top: 10px;
}

.mat-sidenav-container {
  background: #f5f5f5;
  flex: 1;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
